{% macro render_post_list(posts) %}
  <table class="postlist">
    <tr>
      <th class="featured">{{ _("Featured") }}
      <th class="title">{{ _("Title") }}
      <th class="author">{{ _("Author") }}
      <th class="categories">{{ _("Categories") }}
      <th class="comments">{{ _("Comments") }}
      <th class="date">{{ _("Date") }}
  {%- for post in posts %}
    <tr class="{{ loop.cycle('odd', 'even') }}{% if post.is_draft %} draft{% endif %}">
      <td class="featured {{' on' if post.weight >= 0}}{{' off' if not post.weight and post.weight != 0 }}">
	<span class="yes">
	  <a href=" {{url_for('featured/add', post_id=post.id)}}" ref="feature">YES</a></span>
	<span class="no">
	  <a href="{{url_for('featured/remove', post_id=post.id)}}" ref="feature">NO</a></span>
      <td class="title"><a href="{{ url_for('admin/edit_post', post_id=post.id)
        }}">{{ post.title|e }}</a>
      <td class="author"><a href="{{ url_for('admin/edit_user',
        user_id=post.author.id) }}">{{ post.author.display_name|e }}</a>
      <td class="categories">{% for category in post.categories
        %}<a href="{{ url_for('admin/edit_category', category_id=category.id) }}">{{ category.name|e }}</a>
        {%- if not loop.last %}, {% endif %}
        {%- else %}{{ _("no categories") }}{% endfor %}
      <td class="comments"><a href="{{
        url_for('admin/show_post_comments', post_id=post.id)
        }}">{{ post.comments|count }}</a>
      <td class="date">{{ post.pub_date|datetimeformat('short') if post.pub_date }}

  {%- else %}
    <tr><td colspan="5">{{ _("No pages.") }}</td></tr>
  {%- endfor %}
  </table>
{% endmacro %}

{% macro render_featured_list(posts) %}
  <div id="featured_entries" class="featured-postlist">
    <div class="head row">
      <span class="weight">{{ _("Weight") }}</span>      
      <span class="featured">{{ _("Featured") }}</span>
      <span class="title">{{ _("Title") }}</span>
      <span class="author">{{ _("Author") }}</span>
      <span class="categories">{{ _("Categories") }}</span>
      <span class="comments">{{ _("Comments") }}</span>
      <br/ style="clear:both;">      
    </div>
  {%- for post in posts %}
    <div id="post-{{post.id}}" class="{{ loop.cycle('odd', 'even') }}{% if post.is_draft %} draft{% endif %} sortable row">
      <span class="weight handle"><img src="{{url_for('featured/shared', filename='grip-inv.gif')}}" alt="{{post.weight}}" title="{{post.weight}}"/></span>      
      <span class="featured {{' on' if post.weight >= 0}}{{' off' if not post.weight and post.weight != 0 }}">
	<span class="yes">
	  <a href=" {{url_for('featured/add', post_id=post.id)}}" ref="feature">YES</a></span>
	<span class="no">
	  <a href="{{url_for('featured/remove', post_id=post.id)}}" ref="feature">NO</a></span>
      </span>
      <span class="title"><a href="{{ url_for('admin/edit_post', post_id=post.id)
        }}">{{ post.title|e }}</a></span>
      <span class="author"><a href="{{ url_for('admin/edit_user',
        user_id=post.author.id) }}">{{ post.author.display_name|e }}</a></span>
      <span class="categories">{% for category in post.categories
        %}<a href="{{ url_for('admin/edit_category', category_id=category.id) }}">{{ category.name|e }}</a>
        {%- if not loop.last %}, {% endif %}
        {%- else %}{{ _("no categories") }}{% endfor %}</span>
      <span class="comments"><a href="{{
        url_for('admin/show_post_comments', post_id=post.id)
        }}">{{ post.comments|count }}</a></span>
      <br/ style="clear:both;">
    </div>
  {%- else %}
    <div><span colspan="5">{{ _("No pages.") }}</span></div>
  {%- endfor %}
  </div>
{% endmacro %}

{% macro render_drafts_box(drafts, hide_if_empty=true) %}
  {% if drafts or not hide_if_empty %}
  <div class="drafts-box">
    <strong>{% trans count=drafts|length %}Your draft:{% pluralize
      %}Your drafts:{% endtrans %}</strong>
    {%- for draft in drafts %}
      <a href="{{ url_for('admin/edit_post', post_id=draft.id) }}">{{ draft.title|e }}</a>
      {%- if not loop.last %},{% endif %}
    {%- endfor %}
  </div>
  {% endif %}
{% endmacro %}
