.no, .yes {background-color:rgb(180,180,180);color:rgb(240,240,240);padding:0.2em 0.5em;margin:0 0.1em;font-size:0.7em;}
.no a, .yes a{color:#fff;text-decoration:none;}
.featured.on > .yes {background-color:rgb(100,180,80);color:rgb(240,240,240);}
.featured.off > .no {background-color:rgb(220,50,50);color:rgb(240,240,240);}
div.featured-postlist {margin: 0.4em 0 0.2em 0;width:100%;border-bottom: 5px solid #B4D2E7;}
div.featured-postlist div.head {-moz-border-radius: 5px 5px 0 0;-webkit-border-radius: 5px 5px 0 0;-webkit-border-radius: 0;-webkit-border-top-left-radius: 5px;-moz-border-radius: 5px 5px 0 0;-webkit-border-radius: 0;-webkit-border-top-right-radius: 5px;border-radius: 5px 5px 0 0;background-color:#B4D2E7;padding: 4px 8px;text-align: left;color: #18374B;font-weight:bold;}
div.featured-postlist div.row {border-bottom: 1px dotted #ccc;padding:5px 8px;clear:both;}
div.featured-postlist div.row.even {background-color:#fefefe;}
div.featured-postlist div.row.odd {background-color:#fefefe;}
div.featured-postlist span.featured {width:5em;display:block;float:left;}
div.featured-postlist span.weight {width:5em;display:block;float:left;text-align:center;}
div.featured-postlist span.title {width:50%;display:block;float:left;}
div.featured-postlist span.author {width:7%;display:block;float:left;}
div.featured-postlist span.categories {width:25%;display:block;float:left;}
div.featured-postlist span.comments {width:2%;display:block;float:left;}
.handle{cursor:move;}